<!-- Template for UI Based Pages like Login, Sign up -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Software for Real Estate Management">
	<meta name="author" content="Joseph Moukattaf & Daniel Alarcon">

	<title>ReMGT- {{title}}</title>

	<link rel="shortcut icon" href="/img/favicon.ico" type="image/vnd.microsoft.icon">

	<!-- Bootstrap core CSS-->
	<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom fonts for this template-->
	<link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<!-- Custom styles for this template-->
	<link href="/css/sb-admin.css" rel="stylesheet">

	<!-- Custom css for UI -->
	<link href="/css/ui.css" rel="stylesheet">

</head>
<body class="bg-light">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<img class="img-fluid mx-auto d-block mt-4" src="/img/logo.png" alt="Responsive image" style="max-height:100px"/>
			</div>
		</div>

		<div class="row">
			<div class="col-12">	
				{{{body}}}
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>
</html>