html, body, .wrapper {
    height: 100%;
    min-width: 800px;
    background: repeating-linear-gradient(
  		to right,
		  white,
		  white 50px,
		  #D6ECFF 40px,
		  #D6ECFF 80px
	);
}

body{
	height: calc(100% - 90px);
	padding: 0px;
	font-family: sans-serif;
}

* {
	box-sizing: border-box;
}

.wrapper {
	position: relative;
	display:flex;
}

nav#top {
	position:absolute;
	right: 22px;
	top: 0px;
	font-size: 1rem;
}

nav#bottom {
	position:absolute;
	top:40px;
	right: 20px;

}

header {
	position:relative;
	display:flex;
	align-items: center;
	height: 90px;
	width: 100%;
	min-width: 800px;
	top:0;
	z-index: 1;
}

.content {
	width: 75%;
	height:100%;
	background-color:white;
	padding: 20px;

	border-right:3px solid black;
	border-top:3px solid black;
	border-bottom:3px solid black;

}

.sidebar {
	overflow-y: scroll;
	width: 25%;
	max-height:100%;
	border-left: 3px solid black;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
}


#topLeftLogo{
	width: 100%;
    height: 100%;
    object-fit: contain;
}

a.logo{
	display:flex;
	width:150px;
	height:100%;
	border:3px solid black;
	justify-content: center;
	background-color: white
}

.input-group{
	margin: 5%;
	width:90%;
}

.prop-name{
	margin-right:20%;
	padding-top: 7%;
}
.prop-field{

	padding-top: 7%;
}
.property{
	display:flex;
	position:relative;
	text-align: center;
	justify-content: center;
	background-color: white;
	height:70px;
	border-left:3px solid black;
	border-right:3px solid black;
	border-top:3px solid black;
}

.property:last-child{
	border-bottom:3px solid black;
}
