body{
	margin:0;
	padding:0;
	height:100%;
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
	background-color: #D6ECFF;
	min-height:350px;
}

html{
	background-color: #D6ECFF;
	height:100%;
}

* {
	box-sizing: border-box;
}

nav#top {
	color: #3274D3;
	position:absolute;
	right: 22px;
	top: 0px;
	font-size: 1rem;
}

nav#bottom {
	position:absolute;
	top:40px;
	right: 20px;

}
header {
	position:relative;
	display:flex;
	align-items: center;
	height:90px;
	min-height: 90px;
	width: 100%;
	min-width: 770px;
	top:0;
	z-index: 1;
}

#topLeftLogo{
	width: 100%;
    height: 100%;
    object-fit: contain;
}

a.logo{
	display:flex;
	width:150px;
	height:100%;
	margin-left:10px;
	margin-top:10px;
	border:3px solid black;
	justify-content: center;
	background-color: white;
}

#wrapper {
	display:flex;
	flex: 1;
}

.filters{
	font-size: 0.9rem;
	padding: 20px;
	display:flex;
	flex-direction: column;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.input-group{
	margin-bottom: 10px;
}

#sidebar{
	min-width:375px;
	max-width: 375px;
	min-height:350px;
	display:flex;
	flex-direction: column;
	background-color: #D6ECFF;;
}

.sorters{
	display:flex;
	font-size: 0.8rem;
}

.highlighted {
	background-color: yellow;
}



.properties{
	overflow-y: auto;
	padding: 0px 10px 0px 10px;
	flex:1;
	margin-bottom: 10px;
}

.prop-name{

	flex:2;
}
.prop-field{

	flex:1;
}
.property{
	cursor:pointer;
	display:flex;
	position:relative;
	text-align: center;
	align-items: center;
	justify-content: center;
	background-color: white;
	min-height:70px;
	border:3px solid black;
	padding:10px;
	margin-bottom:5px;
}

.propertySelected{
	cursor:pointer;
	display:flex;
	position:relative;
	text-align: center;
	align-items: center;
	justify-content: center;
	background-color: lightgreen;
	min-height:70px;
	border:3px solid black;
	padding:10px;
	margin-bottom:5px;
}


.property:first-child{
}

.property:last-child{
	margin-bottom: 0;
}

.property:hover{
	background-color: lightgrey;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.wrap {
	height:100vh;
	display:flex;
	flex-direction: column;
}

.sort-name{
	display:flex;
	width: 35%;
	align-items: center;
  	justify-content: center;
}

#propSort{
	display:flex;
	align-items: center;
  	justify-content: center;
  	width:15px;
	height: 100%;
	cursor: pointer;
}

#fieldSort{
	display:flex;
	align-items: center;
  	justify-content: center;
	height: 100%;
	width:15px;
	cursor: pointer;
}

div#fields{
	display:flex;
	align-items: center;
  	justify-content: center;
  	flex-grow:1;
}

/* -------------------- Select Box Styles: stackoverflow.com Method */
/* -------------------- Source: http://stackoverflow.com/a/5809186 */
select#soflow, select#soflow-color {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 95% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: black;
   width:100%;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   cursor: pointer;

}

/* contentRead and contentWrite are both used for 
when reading and editing data for properties respectively */

#mainWrap{
	position:relative;
	flex-grow: 1;
	background-color:white;
	min-width: 600px;
	min-height:350px;	
	padding:20px;
	margin: 10px;
	border:3px solid black;
	overflow-y: scroll;
}

.contentWrite{
	display:flex;
	flex-direction: row;

	width:100%;
}


.contentRead{
	display:flex;
	flex-direction: column;

	width:100%;

}

.valuesRead{
	margin-bottom:20px;
	display:flex;
	flex-direction: row;
	height:100%;
}

.valuesWrite{
	margin-bottom:20px;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.valsWrite{
	height:100%;
	flex-grow:1;
}

.headerRead{
	margin-right: 10px;
	width:150px;
}

.headerWrite{
	margin-top: 5px;
	margin-right: 10px;
	width: 85px;
	display:flex;
}

#infoRead{
	display:flex;
	flex-direction: column;
}



#propTitle{
	margin-bottom: 20px;
	width:70%;
}

#getFile{
	opacity: 0.0; 
	position: absolute; 
	top: 0; 
	left: 0; 
	bottom: 0; 
	right: 0; 
	width: 100%; 
	height:100%;
	cursor:pointer;
	z-index: 10000;
}

.createBtn{
	margin-bottom: 10px;
}

#newPropForm{
	width:90%;
	display:flex;
	flex-direction: column;
}

#contentImages{
	position:absolute;
	top:10px;

}

#sendPropBtn{

}

#propertyNameInput{
	width:67%;
}

.form-control{
	width: 60%;
	margin-bottom:5px;
	min-width: 200px;
	min-height:25px;
}

#form-divider{
	flex:1;
	display:flex;
	margin-bottom: 40px;
	flex-direction: row;

}

#form-headers{
	width:95px;
	min-width: 95px;
	margin-top:6px;
}

#form-inputs{
	flex-grow:1;
}

#addressHeader{
	padding-bottom: 163px;
}

#ownerHeader{
	padding-bottom: 77px;
}

#ownerAddress{
	padding-bottom: 133px;
}

#ownerContact{
	margin-bottom: 130px;
}

#propertyManager{
	margin-bottom: 18px;
}

#editBtn{
	position:absolute;
	text-align: center;
	right:20px;
	display:flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height:20px;
	padding:20px;
	border:3px solid black;
	cursor: pointer;
}

#property-photo{
	position:absolute;
	text-align: center;
	right:20px;
	display:flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height:125px;
	padding:20px;
	border:3px solid black;
}

.clickable{
	cursor: pointer;
}

.edit{
	top:100px;
}

@media (min-width: 1200px) { 
	#property-photo{
		width: 225px;
		height:188px;
	}
}

.propImg{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index: 5000;


}

#searchIcon{
	position:absolute;
	bottom: 5px;
	right: 5px;
}

#radioSalutation{
	display:inline-block;
	margin-bottom:5px;
}

#bottomOfContent{
	display:flex;
	flex-grow:1;
	width:100%;
	justify-content: flex;
}