<div id="sidebar">


    <div class="filters">
      <div class="createBtn">
        <a href=""><u>+ Create New Property</u></a>
      </div>
      <!-- Search bar -->
      <form>
        <div class="input-group">
          <input class="form-control" type="text" placeholder="Search...">
          <span class="input-group-btn">
            <button class="btn btn-primary searchBtn" type="button">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
      <!-- ./searchbar -->
      <div class="sorters">
        <div class="sort-name">Property Name &nbsp;
            <span id="propSort"><i class="fa fa-sort"></i></span>
        </div>

        <div id="fields">
            &nbsp;
            <select id="soflow">
            <option>Field #1</option>
            <option>Field #2</option>
            <option>Field #3</option>
            <option>Field #4</option>
            <option>Field #5</option>
            </select>
            &nbsp;
            <span id="fieldSort"><i class="fa fa-sort" ></i></span>
        </div>
      </div>

    </div>


    <div class="properties">
        <div class="property">
        	<span class="prop-name">Property #1</span>
        	<span class="prop-field">Field #1</span>
        </div>

        <div class="property">
            <span class="prop-name">Property #1</span>
            <span class="prop-field">Field #1</span>
        </div>
        <div class="property">
            <span class="prop-name">Property #1</span>
            <span class="prop-field">Field #1</span>
        </div>

        <div class="property">
            <span class="prop-name">Property #1</span>
            <span class="prop-field">Field #1</span>
        </div>

        <div class="property">
            <span class="prop-name">Property #1</span>
            <span class="prop-field">Field #1</span>
        </div>

        <div class="property">
            <span class="prop-name">Property #1</span>
            <span class="prop-field">Field #1</span>
        </div>
        <div class="property">
            <span class="prop-name">Property #1</span>
            <span class="prop-field">Field #1</span>
        </div>

        <div class="property">
            <span class="prop-name">Property #1</span>
            <span class="prop-field">Field #1</span>
        </div>

        <div class="property">
            <span class="prop-name">Property #1</span>
            <span class="prop-field">Field #1</span>
        </div>

    </div>
</div>
<div id="content">
	Properties Template.  
</div>
